{% extends 'base.html.twig' %}

{% block body %}
        <h1>Contacts</h1>
        <div class="col-md-12">
            <div class="form-horizontal">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('create_contact') }}">
                <button type="button" class="btn btn-primary-rgba">Create</button>
            </a>
        </div>
    <hr>
        {% for member in data.all %}
            <div class="col-lg-6">
                <div class="card m-b-30">
                    <div class="card-body py-5">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid mb-3"
                                     alt="user"/>
                            </div>
                            <div class="col-lg-9">
                                <h4>{{ member.name|e }}</h4>
                                <p>{{ member.phoneNumber }}</p>
                                <div class="button-list mt-4 mb-3">
                                    <button type="button" class="btn btn-primary-rgba"><i
                                                class="feather icon-message-square mr-2"></i>Edit
                                    </button>
                                    <form action="{{ path('remove_contact',{'id':member.id}) }}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE" />
                                        <input type="hidden" name="id" value="{{ member.id }}" />
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </form>

                                </div>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="p-1">birthday:</th>
                                            <td class="p-1">{{ member.birthday }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">city:</th>
                                            <td class="p-1">{{ member.city }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">country:</th>
                                            <td class="p-1">{{ member.country }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Email :</th>
                                            <td class="p-1">{{ member.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">Address :</th>
                                            <td class="p-1">{{ member.address }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="p-1">zip :</th>
                                            <td class="p-1">{{ member.zip }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
