{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>New Contact</h1>
    <div class="col-md-12">
        <a href="{{ path('show_contacts') }}">
            <button type="button" class="btn btn-primary-rgba">Contact List</button>
        </a>
    </div>
    <hr>
    <div class="col-md-6">
        <div class="form-horizontal">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            {# ... #}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
